@font-face {
    font-family: "RixWhiteSans";
    src: url("../../assets/RixWhiteSans.ttf") format("truetype");
}

#mainLogo {
    width: 30%;
    height: 30%;
    object-fit: contain;
}

.mainRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#pressToStart {
    font-family: "RixWhiteSans";
    font-size: 30px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}